body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 60px;
}

/* Profile Picture Styling */
.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Hover effect for the profile picture */
.profile-pic:hover {
    transform: scale(1.1); /* Slightly enlarges the image */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increases shadow on hover */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

h2 {
  font-size: 1.75em;
  transition: color 0.3s ease; /* Smooth color transition for hover */
}

h2:hover {
    color: #007acc; /* Changes to a new color on hover */
}

.big { font-size: 2.5em; }
.small { font-size: 1.25em; }

/* Paragraph styling */
p {
  margin-bottom: 1em;
  font-weight: 300;
}

/* Section spacing */
section {
  margin-bottom: 2.5em;
}

/* Link styling */
a {
  color: #065f46;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* General image settings to keep images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Figure styling */
figure {
  width: 100%;
  max-width: 500px;
}

/* About Section Styling */
#about {
    padding: 20px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

#about:hover {
    background-color: #e0f7fa;
}
